html, body {
	font-family: 'Roboto', sans-serif; /* Polices Google, ne pas modifier. Apache License, version 2.0 */
	font-family: 'Montserrat', sans-serif; /* Polices Google, ne pas modifier. SIL Open Font License, version 1.1 */
	background-color: #D9CEB2;
	color: white;

	margin: 0px; /* supprime le blanc autour des éléments */
	padding: 0px; /* supprime le blanc autour des éléments */
	height: 100%;
}

/* ÉLÉMENTS GÉNÉRAUX ET COMMUNS A PLUSIEURS PARTIES */

.astable {	/* Layout en tableau, div conteneur */
    display: table;			/* On affiche la page comme un gros tableau (display: table;) */
    height: 100%;			/* Taille maximale pour remplir tout l'espace */
    table-layout: fixed;	/* Algorithme d'affichage du tableau : fixed -> le navigateur se contente d'afficher ... */
    width: 100%;			/* ... les "colonnes" du tableau selon leur largueur qui est précisée (width: 100%;) */
}

.astablerow{
    display: table-row;		/* Affiche la div/le footer/le header comme une "ligne" du tableau (se comporte comme <tr>) */
}

textarea{
	width: 100%;
	height: 30%;
}

button{
	background: #948C75;
	margin: 5px 0px 5px 0px;
	border: 2px solid #948C75;
}

input {
	margin-left: 10px;
}

/* HEADER - EN-TÊTE */

header {
	height: 15%;
	width: 100%;
	position: static;

	background-color: #99B2B7;
}

.headerNav {
	margin-top: 16px; /* pousse le menu vers le bas */
}

.headerNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	text-align: center;			/* centre la nav sur l'espace horizontal */
}

.headerNav li {
	display: inline-block;		/* affiche le menu horizontalement */
	background: #D5DED9;
	margin-right: -5px;			/* supprime l'espace blanc engendré par inline-block (petit hack) */
}

.headerNav li a {
	display: block;
	color: #7A6A53;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.headerNav li a:hover {
	background: #D9CEB2;
}

.headerNav li a.active {
	background: #D9CEB2;
}

/* .dropdown {				Dropdown menu, à réparer
	position: relative;
}

.dropdown_menu {
	display: none;
	position: absolute;
	min-width: 60px;

	background-color: #D5DED9;
	box-shadow: 1px 1px 8px rgba(0,0,0,.32);
}

.dropdown_menu a {
	padding: 12px 16px;
	display: block;
}

.dropdown:hover .dropdown_menu {
	display: block;
} */

.nomLogo {
	margin: auto;
	padding: 20px 0 20px 0;
	display: block;
	text-align: center;
}

/* "BODY" - CONTENU PRINCIPAL */

div#mainBox {
	display: block;
	width: 60%;
	height: 100%;
	margin: auto;
	padding: 10px 40px 50px 40px;	/* décolle le texte des bords de la div */
	overflow:  hidden;

	background-color: white;
	color: #212121;
	box-shadow: 1px 1px 8px rgba(0,0,0,.32);
}

div#mainBox h1 {
	margin-top: 0px;	/* Permet à la div de contenu de coller au header, le titre avait un margin-top qui la décollait */
	padding: 20px 0px 0px 20px;	/* décentre le titre pour le faire ressortir par rapport au contenu */
}

aside {
	float: right;
	width: 40%;
}

aside img {
	width: 100%;
}

.systeme {
	float: left;
	width: 55%;
	height: 500px;
}

/* FOOTER - PIED DE PAGE */

footer {
	height: 50px;
	width: 100%;
	position: static;	/* permet au footer de ne pas flotter au dessus du contenu principal */

	background-color: #99B2B7;
	text-align: center;
}

.footerNav li {
	display: inline-block;
	margin-right: 10px;
}
